.border{
    border:solid;
     display:flex;
     justify-content: center;
    
    }
    
    .header{
     width: 750px;
    height: 29px;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    
    }
    
    .gridContainer{
    
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 350px 300px 300px 300px 400px ;
     grid-template-areas:
    
       "one one one one"
       "two two two two"
       "three three three three"
       "four four four four"
       "five five five five";
    
    }
    
    .one{
     grid-area: one;
     border:solid;
     background-image: url("./images/hpbanner.png");
     background-size: 100% 100%;
    
    }
    
    .two{
      grid-area: two;
     border:solid;
     background: rgba(10, 35, 66, 0.4);
    }
    
    .three{
      grid-area: three;
      border:solid;
    }
    
    .four{
      grid-area: four;
      border:solid;
     background: rgba(10, 35, 66, 0.4);
    }
    
    .five{
      grid-area: five;
      border:solid;
    
    }
    
    .title{
    
       text-align: center;
       font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
       color: white;
       margin-top: 40px;
    }
    
    .title2{
    
    color:white;
    font-size: 15px;
        text-align: center;
       margin-top: 40px;
       font-weight: bold;
    }
    
    .hpbutton{
       width:250px;
       height:60px;
       background: #97A11F;
       margin-left: 375px;
       margin-top: 100px;
       font-family: Roboto;
    font-style: normal;
    font-weight: bold;
       text-align: center;
       color:white;
    }