
.borderA {
    background: #97A11F;
    text-align: center;
    height: 150px;
    display: block;
}

.header1A {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 4%;
}

.subheaderA{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    
    color: #FFFEF9;
}

.articlecontainer {
    margin: 0 3% 2% 3%;
    border-radius: 0;
    padding: 2% 1%;
    background: rgba(10, 35, 66, 0.2);
    height: 350px;
    max-height: 700px;
    border:solid;
}

.headerbuttonA {
    background: rgba(10, 35, 66, 0.2);
    border-radius: 5px 5px 0 0;
    margin: 2% 81% 0 3%;
    padding: 0 1%;

}

.authorA {
    color: black;
    text-transform: capitalize;
    margin: 10px 0;
    border-radius: inherit;
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
}

.issuedate {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    border-radius: inherit;
}

.abstract {
    color: black;
    text-transform: capitalize;
    margin: 10px 0;
    border-radius: inherit;
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    max-height: 20vh;
}

.titlelink {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    border-radius: inherit;

}


.bottomlink {
    display: flex;
    justify-content: space-between;
    margin: 0 70% 0 0;
}

.blink {
    display: flex;
    padding: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}
.pic1A{
    border:solid;
    height:400px;
    width:100vw;
    background-image: url('../images/anti-slavery_mural.png');
    background-size: 100% 100%;
}