body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  
  /*Homepage*******************************************************************************/
  

    .border{
  border:solid;
    display:flex;
    justify-content: center;
  
  }
  .headerHP{
  height: 29px;
  

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  }
  
  .gridContainerHP{
  
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 350px 300px 300px 300px 300px ;
    grid-template-areas:
  
      "one one one one"
      "two two two two"
      "three three three three"
      "four four four four"
      "five five five five";
  
  }
  
  .oneHP{
    grid-area: one;
    border:solid;
    background-image: url("../images/hpbanner.png");
    background-size: 100% 100%;
  
  }
  
  .twoHP{
     grid-area: two;
    
    background: rgba(10, 35, 66, 0.4);
  }
  
  .threeHP{
    grid-area: three;
    border:solid;
    
  }
  
  .fourHP{
     grid-area: four;
  
    background: rgba(10, 35, 66, 0.4);
  }
  
  .fiveHP{
     grid-area: five;
  
  
  }
  
  .titlemain{
  
      text-align: center;
      font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
    color:white;
      margin-top: 40px;
  }
  
  .title2{
  
  color:white;
  font-size: 15px;
       text-align: center;
      margin-top: 40px;
      font-weight: bold;
   }
  
  .hpbutton{
      width:330px;
      height:100px;
      background: #97A11F;
      
      font-family: Roboto;
  font-style: normal;
  font-weight: bold;
      text-align: center;
      color:white;
      font-size: 24px;
      /*margin-left: 560px;*/
      margin-left: 39%;
      margin-top: 30px;
  }

  .hpbutton:hover{
    width:380px;
    height:150px; 
  }
  
  .hptitle3{
     text-align: center;
      font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
      color: #0A2342;
      margin-top: 25px;
  
  }
  .hptitle4 {
  
      color: #0A2342;
      font-size: 15px;
      text-align: center;
      margin-top: 20px;
  
  }
  
  .hpIconContain{
      display:flex;
      justify-content: space-evenly;
      margin-top:30px;
      height:120px;
  }
  
  .hpIconOne{
  
      width:75px;
      height:120px;
      text-align: center;
  }
  .iconLabel{
      margin-top: 20px;
      color: #0A2342;
      font-family: Open Sans;
      line-height: normal;
      font-size: 20px;
      font-weight: bold;
  }
  
  .iconPic{
      width:73px;
      height:60px;
  
      background-image: url("../images/NGO ICON.png");
      background-size: 100% 100%;
  }
  .iconPic:hover{
    width:100px;
    height:90px;

  }
  .hpIconTwo{
  
      width:75px;
      height:120px;
      text-align: center;
  }
  
  .iconPic2{
      width:73px;
      height:60px;
  
      background-image: url("../images/Reports Icon.png");
      background-size: 100% 100%;
  }

  .iconPic2:hover{
    width:100px;
    height:90px;

  }

  .hpIconThree{
  
       width:75px;
          height:120px;
  
  }
  
  .iconPic3{
      width:73px;
      height:60px;
  
      background-image: url("../images/Training ICON.png");
      background-size: 100% 100%;
  }

  .iconPic3:hover{
    width:100px;
    height:90px;

  }

  .hpIconFour{
  
       width:75px;
          height:120px;
  }
  .iconPic4{
      width:73px;
      height:60px;
  
      background-image: url("../images/Contacts ICON.png");
      background-size: 100% 100%;
  }

  .iconPic4:hover{
    width:100px;
    height:90px;

  }

  .iconLabel4{
      margin-top: 20px;
      color: #0A2342;
      font-family: Open Sans;
      line-height: normal;
      font-size: 20px;
      font-weight: bold;
      width:230px;
      height:33px;
  
  }
  .hptitle5{
     text-align: center;
      font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  
      margin-top: 25px;
  
  }
  .hptitle6{
  
  
      font-size: 15px;
      text-align: center;
      margin-top: 20px;
  
  }
  .iconLabel2{
      margin-top: 20px;
      text-align: center;
      font-family: Open Sans;
      line-height: normal;
      font-size: 20px;
      font-weight: bold;
  }
  .iconPic5{
      width:73px;
      height:60px;
  
      background-image: url("../images/PODCAST ICON.png");
      background-size: 100% 100%;
  }

  .iconPic5:hover{
    width:100px;
    height:90px;

  }

  .iconPic6{
      width:73px;
      height:60px;
  
      background-image: url("../images/BLOG ICON.png");
      background-size: 100% 100%;
  }

  .iconPic6:hover{
    width:100px;
    height:90px;

  }

  .iconPic7{
      width:73px;
      height:60px;
  
      background-image: url("../images/BOOKS ICON.png");
      background-size: 100% 100%;
  }

  .iconPic7:hover{
    width:100px;
    height:90px;

  }

  .iconPic8{
      width:73px;
      height:60px;
  
      background-image: url("../images/VIDEOS ICON.png");
      background-size: 100% 100%;
  }

  .iconPic8:hover{
    width:100px;
    height:90px;

  }

  .iconPic9{
      width:73px;
      height:60px;
  
      background-image: url("../images/VIEW EVENTS ICON.png");
      background-size: 100% 100%;
  }

  .iconPic9:hover{
    width:100px;
    height:90px;

  }

  .iconPic10{
      width:73px;
      height:60px;
  
      background-image: url("../images/ADD EVENTS ICON.png");
      background-size: 100% 100%;
  }

  .iconPic10:hover{
    width:100px;
    height:90px;

  }

  .iconLabel5{
      margin-top: 20px;
      color: #0A2342;
      font-family: Open Sans;
      line-height: normal;
      font-size: 18px;
      font-weight: bold;
     width: 144px;
      height: 33px;
      text-align: start;
  
  }
  .iconPic11{
      width:73px;
      height:60px;
  
      background-image: url("../images/MISSION ICON.png");
      background-size: 100% 100%;
  }

  .iconPic11:hover{
    width:100px;
    height:90px;

  }

  .iconPic12{
      width:73px;
      height:60px;
  
      background-image: url("../images/LEADERSHIP ICON.png");
      background-size: 100% 100%;
  }

  .iconPic12:hover{
    width:100px;
    height:90px;

  }

  /****************************************************************************************/