<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=djatlienriseup%40gmail.com&amp;color=%231B887A&amp;src=generalassemb.ly_hh13skuaj9ug20conn47a649rs%40group.calendar.google.com&amp;color=%23B1440E&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%2328754E&amp;src=family17884455026097369121%40group.calendar.google.com&amp;color=%2329527A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>   
</body>
</html>